<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
      <defaultDocument>
          <files>
              <clear />
              <add value="default.aspx" />
              <add value="Default.htm" />
              <add value="Default.asp" />
              <add value="index.htm" />
              <add value="index.html" />
              <add value="iisstart.htm" />
          </files>
      </defaultDocument>
  </system.webServer>
  <connectionStrings>
    <add 
      name="Connection" 
      connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=kemp;Integrated Security=true;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>